* {
  background-color: darksalmon;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: blue;
  margin-left: 50px;
}

img {
  width: 50%;
  margin-left: 50px;
}

article p {
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 50px;
}

.favorite {
  margin-top: -30px;
  margin-left: 50px;
  margin-bottom: 0px;
  color: rgb(191, 196, 246);
  font-weight: bold;
  text-shadow: 2px 2px red;
}

footer {
  margin-left: 50px;
}

h2 {
  margin-left: 50px;
  font-size: 25px;
  font-weight: bold;
}
