* {
  background-color: darksalmon;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: blue;
  margin-left: 50px;
}

img {
  width: 30%;
  margin-left: 50px;
}

article p {
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 50px;
}

.favorite {
  margin-top: -30px;
  margin-left: 50px;
  margin-bottom: 0px;
  color: rgb(209, 182, 222);
  font-weight: bold;
}

footer {
  margin-left: 50px;
}

h2 {
  margin-left: 50px;
}